@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
  /* primary */
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  /* natural */
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  --linear-gradiant: linear-gradient(
    250deg,
    hsl(192, 70%, 51%),
    hsl(136, 65%, 51%)
  );

  --padding-top: 100px;
  --padding-bottom: 100px;
}

* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  /* overflow-x: hidden; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* - Mobile: 375px
- Desktop: 1440px */
